<!DOCTYPE html>
<html lang="en">
<head>

<!-- Basic Page Needs
  ================================================== -->
<meta charset="utf-8">
<title>Foros academicos</title>
<meta name="description"
	content="Free Html5 Templates and Free Responsive Themes Designed by Kimmy | zerotheme.com">
<meta name="author" content="www.zerotheme.com">

<!-- Mobile Specific Metas
  ================================================== -->
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
  ================================================== -->
<link rel="stylesheet" href="@{'public/stylesheets/zerogrid.css'}">
<link rel="stylesheet" href="@{'public/stylesheets/style.css'}">
<link rel="stylesheet" href="@{'public/stylesheets/responsive.css'}">
<link rel="stylesheet"
	href="@{'public/stylesheets/responsiveslides.css'}" />

<link href="@{'public/images/iconoutc.ico'}" rel='icon'
	type='image/x-icon' />
<script src="@{'public/javascripts/jquery.min.js'}"></script>
<script src="@{'public/javascripts/responsiveslides.js'}"></script>

<!-- ESTILOS PRINCIPAL FCATEGORIA
  ================================================== -->
<link type="text/css" rel="stylesheet"
	href="@{'public/stylesheets/foro/shared.css'}">





<script>
		$(function () {
		  $("#slider").responsiveSlides({
			auto: true,
			pager: false,
			nav: true,
			speed: 500,
			maxwidth: 962,
			namespace: "centered-btns"
		  });
		});
	</script>

</head>
<body>
	<!--------------Header--------------->
	<header>
		<div class="wrap-header zerogrid">
			<div id="logo">
				<a href="#"><img src="@{'public/images/utc.png'}"
					style="height: 108px; width: 462px;" /></a>
			</div>

			<div id="search">
				<div class="button-search"></div>
				<input type="text" value="Search..."
					onfocus="if (this.value == &#39;Search...&#39;) {this.value = &#39;&#39;;}"
					onblur="if (this.value == &#39;&#39;) {this.value = &#39;Search...&#39;;}">
			</div>
		</div>
	</header>

	<nav>
		<div class="wrap-nav zerogrid">
			<div class="menu">
				<ul>
					<li class="first"><a href="index">Inicio</a></li>
					<li class="current"><a href=" ">Foros Academicos</a></li>
					<li class="last"><a href=" ">Contacto</a></li>
				</ul>
			</div>



			<div class="share">
				<ul>
					<li><a href="#"><img
							src="@{'public/images/twitter-icon.png'}" title="Twitter" /></a></li>
					<li><a href="#"><img
							src="@{'public/images/facebook-icon.png'}" title="Facebook" /></a></li>
					<li><a href="#"><img
							src="@{'public/images/google-plus-icon.png'}" title="Google Plus" /></a></li>
				</ul>
			</div>
		</div>
	</nav>

	<!--------------Content--------------->
	<section id="content">
		<div class="wrap-content zerogrid">

			<br>

			<div id="sidebar" class="content" id="content">
				<div  class="heading">
					<center><h2>CATEGORIAS</h2></center>
					
					
			
				</div>
				<div class="box-blue">
					<div id="ddbox_36" class="title_box">
						<h3 id="f36">
							<a>PROGRAMACION ORIENTADO A OBJETOS</a>
						</h3>
					</div>
					<ul class="content_box">
						#{list items: cate, as:'c'}
						<li><a> ${c.nombre}</a></li>
							<br>
					#{/list}
					</ul>
					<div class="clear"></div>
				</div>
				<div class="box-orange">
					<div id="ddbox_39" class="title_box">
						<h3 id="f39">
							<a href="http://www.forosdelweb.com/#f39">Programando para
								Internet</a>
						</h3>
						<a rel="nofollow" class="rss"
							title="Foros del Web - Programando para Internet - RSS Feed"
							href="http://www.forosdelweb.com/external.php?type=RSS2&forumids=39">RSS</a>
					</div>
					<ul class="content_box">
					#{list items: cate, as:'c'}
						<li><a href="http://www.forosdelweb.com/f13/" class="item_2"
							id="forumlink_13">${c.nombre}</a></li>
					#{/list}
						
					</ul>
					<div class="clear"></div>
				</div>
				<div class="box-green">
					<div id="ddbox_82" class="title_box">
						<h3 id="f82">
							<a href="http://www.forosdelweb.com/#f82">Estrategias
								Digitales y Negocios Online</a>
						</h3>
						<a rel="nofollow" class="rss"
							title="Foros del Web - Estrategias Digitales y Negocios Online - RSS Feed"
							href="http://www.forosdelweb.com/external.php?type=RSS2&forumids=82">RSS</a>
					</div>
					<ul class="">

					</ul>
					<div class="clear"></div>
				</div>
				<div class="box-blue">
					<div id="ddbox_84" class="title_box">
						<h3 id="f84">
							<a href="http://www.forosdelweb.com/#f84">Administración de
								Sistemas</a>
						</h3>
						<a rel="nofollow" class="rss"
							title="Foros del Web - Administración de Sistemas - RSS Feed"
							href="http://www.forosdelweb.com/external.php?type=RSS2&forumids=84">RSS</a>
					</div>
					<ul class="content_box">
						<li><a href="http://www.forosdelweb.com/f19/" class="item_3"
							id="forumlink_19">WebHosting</a></li>
						<li><a href="http://www.forosdelweb.com/f41/" class="item_2"
							id="forumlink_41">Unix / Linux</a></li>
						<li><a href="http://www.forosdelweb.com/f20/" class="item_2"
							id="forumlink_20">Redes</a></li>
						<li class="spacer"></li>
						<li><a href="http://www.forosdelweb.com/f58/" class="item_1"
							id="forumlink_58">Apache</a></li>
						<li><a href="http://www.forosdelweb.com/f93/" class="item_1"
							id="forumlink_93">Dominios</a></li>
						<li><a href="http://www.forosdelweb.com/f92/" class="item_1"
							id="forumlink_92">Dedicados / Cloud</a></li>
						<li><a href="http://www.forosdelweb.com/f59/" class="item_1"
							id="forumlink_59">IIS</a></li>
						<li><a href="http://www.forosdelweb.com/f145/" class="item_1"
							id="forumlink_145">LAMP</a></li>
					</ul>
					<div class="clear"></div>
				</div>
				<div class="box-orange">
					<div id="ddbox_154" class="title_box">
						<h3 id="f154">
							<a href="http://www.forosdelweb.com/#f154">Programación para
								mayores de 30 ;)</a>
						</h3>
						<a rel="nofollow" class="rss"
							title="Foros del Web - Programación para mayores de 30 ;) - RSS Feed"
							href="http://www.forosdelweb.com/external.php?type=RSS2&forumids=154">RSS</a>
					</div>
					<ul class="content_box">
						<li><a href="http://www.forosdelweb.com/f21/" class="item_3"
							id="forumlink_21">BDs general</a></li>
						<li><a href="http://www.forosdelweb.com/f96/" class="item_2"
							id="forumlink_96">C/C++</a></li>
						<li><a href="http://www.forosdelweb.com/f45/" class="item_2"
							id="forumlink_45">Java</a></li>
						<li class="spacer"></li>
						<li><a href="http://www.forosdelweb.com/f14/" class="item_1"
							id="forumlink_14">Progra General</a></li>
						<li><a href="http://www.forosdelweb.com/f29/" class="item_1"
							id="forumlink_29">.NET</a></li>
					</ul>
					<div class="clear"></div>
				</div>
				<div class="box-pink">
					<div id="ddbox_38" class="title_box">
						<h3 id="f38">
							<a href="http://www.forosdelweb.com/#f38">Soporte técnico</a>
						</h3>
						<a rel="nofollow" class="rss"
							title="Foros del Web - Soporte técnico - RSS Feed"
							href="http://www.forosdelweb.com/external.php?type=RSS2&forumids=38">RSS</a>
					</div>
					<ul class="content_box">
						<li><a href="http://www.forosdelweb.com/f2/" class="item_3"
							id="forumlink_2">Ayuda General</a></li>
						<li><a href="http://www.forosdelweb.com/f11/" class="item_2"
							id="forumlink_11">Hardware</a></li>
						<li><a href="http://www.forosdelweb.com/f42/" class="item_2"
							id="forumlink_42">Windows</a></li>
						<li class="spacer"></li>
						<li><a href="http://www.forosdelweb.com/f90/" class="item_1"
							id="forumlink_90">Ofimática</a></li>
						<li><a href="http://www.forosdelweb.com/f3/" class="item_1"
							id="forumlink_3">Audio y vídeo</a></li>
						<li><a href="http://www.forosdelweb.com/f66/" class="item_1"
							id="forumlink_66">Malware</a></li>
					</ul>
					<div class="clear"></div>
				</div>
			</div>
			<div class="row block">




				<div id="main-content" class="col-2-3">

					<div class="wrap-col"></div>
				</div>
				<div id="sidebar" class="col-1-3"></div>
			</div>
		</div>


	</section>
	<!--------------Footer--------------->
	<footer>
		<div class="wrap-footer">
			<div class="copyright" style="height: 79px;">
				<br>
				<p>Copyright © 2015 - INGENIERIA DE SOFTWARE I By C.I.Y.A</p>
			</div>
		</div>
	</footer>

</body>
</html>